link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CBariol Serif Regular:300,400,500,600,700,800,900" rel="stylesheet")
link(rel="stylesheet", href="plugins/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="plugins/ps-icon/style.css")
