script(type="text/javascript", src="plugins/jquery/dist/jquery.min.js")
script(type="text/javascript", src="plugins/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js")
script(type="text/javascript", src="plugins/owl-carousel/owl.carousel.min.js")
//- script(type="text/javascript", src="plugins/gmap3.min.js")
script(type="text/javascript", src="plugins/imagesloaded.pkgd.js")
script(type="text/javascript", src="plugins/isotope.pkgd.min.js")
script(type="text/javascript", src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js")
script(type="text/javascript", src="plugins/jquery.matchHeight-min.js")
script(type="text/javascript", src="plugins/slick/slick/slick.min.js")
script(type="text/javascript", src="plugins/elevatezoom/jquery.elevatezoom.js")
script(type="text/javascript", src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js")
script(type="text/javascript", src="plugins/jquery-ui/jquery-ui.min.js")
//- script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&region=GB")


<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>

block page_scripts

// Custom scripts
script(type="text/javascript", src="js/main.js")