<template>
  <div class="ps-product-action">
    <div class="ps-product__filter" v-if="Position==='top'">
      <select class="ps-select selectpicker" v-model="ProductActionData.selectedDropdown">
        <option :value="index" v-for="(item, index) in dropdownArray" :key="index">{{item}}</option>
      </select>
    </div>

    <div class="ps-pagination">
      <ul class="pagination">
        <li @click="ProductActionData.selectedRadio>1?--ProductActionData.selectedRadio:ProductActionData.selectedRadio">
          <a>
            <i class="ps-icon-back"></i>
          </a>
        </li>
        
        <li v-for="currentPageNum in ProductActionData.pageNum" :key="currentPageNum" :class="[ProductActionData.selectedRadio===currentPageNum?'active':'']"
          @click="ProductActionData.selectedRadio=currentPageNum">
          <a>
            <input 
              v-if="currentPageNum!==0 && currentPageNum!==ProductActionData.pageNum?true:false"
              type="radio"
              name="pageNum"
              :value="currentPageNum"
              :id="currentPageNum"
              v-model="ProductActionData.selectedRadio">{{currentPageNum}}
          </a>
        </li>
        
        <li @click="ProductActionData.selectedRadio<ProductActionData.pageNum?++ProductActionData.selectedRadio:ProductActionData.selectedRadio">
          <a>
            <i class="ps-icon-next"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ProductAction',

    data() {
      return {
        dropdownArray: [
					'Çok Satan',
					'İsme Göre',
					'Fiyata Göre (Artan)',
					'Fiyata Göre (Azalan)',
					'En Yüksek Puan'
        ],
      }
    },

    props: {
      ProductActionData: {
        type: Object,
        required: true,
      },
      Position: {
        type: String,
        required: true,
      }
    }
  }
</script>

<style scoped>
  *{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  input[type='radio']{
    display: none;
  }
</style>