<template>
  <div class="ps-shoe mb-30">
    <div class="ps-shoe__thumbnail">
      <div class="ps-badge" v-if="Product.isNew"><span>New</span></div>
      <div class="ps-badge ps-badge--sale ps-badge--2nd" v-if="Product.discountAmout">
        <span>{{Product.discountAmout}}</span>
      </div>
      <a class="ps-shoe__favorite" @click="Product.isLiked=!Product.isLiked">
        <i class="ps-icon-heart" :style="Product.isLiked?'color:#ff3a57':'color:#ffffffdd'"></i>
      </a>
      <img :src="Product.coverImg" alt="">
      <router-link class="ps-shoe__overlay" to="/Product/Detail"></router-link>
    </div>
    <div class="ps-shoe__content">
      <div class="ps-shoe__variants">
        <div class="ps-shoe__variant normal">
          <img :src="link" v-for="(link, index) in Product.imgsPath" :key="index" alt="">
        </div>
        <select v-model="Product.starCount" class="ps-rating ps-shoe__rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{Product.title}}</a>
        <p class="ps-shoe__categories">
          <a href="#" class="ps-tag" v-for="(category, index) in Product.category" :key="index"> {{category}} </a>
        </p>
        <span class="ps-shoe__price">
          <del v-if="Product.oldPrice">{{Product.oldPrice}}</del> {{Product.price}}
          </span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ProductItem',
    props: {
      Product: {
        type: Object,
        required: true,
      },
    }
  }
</script>

<style scoped>
  .ps-tag{
    border-radius: 100em;
    background-color: #2AC37D;
    color: white !important;
    padding: .3vw .4vw;
    width: fit-content;
    margin-right: .2vw;
  }

  .ps-shoe__name{
    display: flex;
    max-width: 64%;
  }

  .liked{
    color: #bd012a;
    background-color: #dd0030;
  }
</style>