<template>
  <div class="ps-products" data-mh="product-listing">
    <ProductAction :ProductActionData="ProductActionData" Position="top"></ProductAction>
    <div class="ps-product__columns">
			<div
				class="ps-product__column"
				v-for="(Product, index) in Products"
				:key="index"
				:v-if="filterProduct(Product)">
					<ProductItem :Product="Product">
					</ProductItem>
			</div>
    </div>
    <ProductAction :ProductActionData="ProductActionData" Position="bottom"></ProductAction>
  </div>
</template>

<script>
	import ProductAction from './ProductAction'
	import ProductItem from './ProductItem'

	import {bus} from '../../main';

	export default {

		name:'ProductList',
		data() {
			return {
				filterCategories: {},
				ProductActionData :{
					selectedDropdown: 0,
        	selectedRadio: 1,
					pageNum: 5,
				}
			}
		},

		created(){
			bus.$on('sendFilterCategories', (filterCategories) => {
				this.filterCategories = filterCategories;
			});
		},

		methods: {
			filterProduct(Product){
				let filters = {
					brands: this.filterCategories.brands.list.filter(
						(value, index) => {return this.filterCategories.brands.selected[index]?true:false}
					),

					price: {
						minRange:this.filterCategories.sliderMin,
						maxRange:this.filterCategories.sliderMax,
					},

					widths: this.filterCategories.widths.list.filter(
						(value, index) => {return this.filterCategories.widths.selected[index]?true:false}
					),

					sizes: this.filterCategories.sizes.list.filter(
						(value, index) => {return this.filterCategories.sizes.selected[index]?true:false}
					),

					colors: this.filterCategories.colors.list.filter(
						(value, index) => {return this.filterCategories.colors.selected[index]?true:false}
					),
				}

				return	Product.categories.some(brand=> filters.brands.includes(brand)) &&
								filters.price.maxRange>= Product.price.replace(' ','').substring(1) >= filters.price.minRange &&
								filters.widths.includes(Product.width) &&
								Product.haveSizes.some(size=> filters.sizes.includes(size)) &&
								Product.haveColor.some(color=> filters.colors.includes(color));
			},

      countOf(category,Products){
				let counter=0;
				Products.forEach( Product => {
					Product.categories.forEach(brand => {
						if(category === brand) counter++;
					});
				});
				return count;
			},
    },

    components: {
			ProductAction,
			ProductItem
		},

		props: {
			Products: {
				type: Array,
				required: true,
			}
		}
  }
</script>

<style scoped>

</style>
