<template>
  <aside :class="['ps-widget--sidebar', type==='multiple-select'?'ps-widget--category':type==='range-select'?'ps-widget--filter':'']">
    <div class="ps-widget__header">
      <h3>{{title}}</h3>
    </div>

	<!-- MULTIPLE SELECTION -->
    <div class="ps-widget__contents">
      <div class="container" v-if="type==='multiple-select'">
        <ul class="ks-cboxtags ps-list--checked">
          <li v-for="(brand, index) in filterData.list" :key="index">
            <input type="checkbox" :id="brand" v-model="filterData.selected[index]" :value="brand">
            <label :for="brand">{{brand}} <span class="tag">{{filterData.list.length}}</span> </label>
          </li>
        </ul>
      </div>
		<!-- --------------- -->

		<!-- RANGE SELECTION -->
      <span class="ps-widget__content" v-if="type==='range-select'">
        <div
          :data-default-min="minRange"
          :data-default-max="maxRange"
          :data-min="minRange"
          :data-max="maxRange"
          :data-step="step"
          :data-unit="unit"
          class="ac-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 0%;">
            </div>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
        </div>
        <p class="ac-slider__meta">Fiyat Aralığı:
          <span class="ac-slider__value ac-slider__min">
						{{unit+maxRange}}
					</span>
          -
          <span class="ac-slider__value ac-slider__max">
						{{unit+maxRange}}
					</span>
          <!-- <a class="ac-slider__filter ps-btn" href="#">Filter</a> -->
        </p>
      </span>
		<!-- -------------------- -->

		<!-- SIZE SELECTION -->
      <div class="ps-widget__contents" v-if="type==='size-select'">
        <div class="container">
					<div
						v-for="(fNumber,index) in filterData.list" :key="index"
						:class="[filterData.selected[index]?'active':'']"
						@click="filterData.selected[index]=!filterData.selected[index]">
							<label :for="fNumber">
								<input
									type="checkbox" :id="fNumber"
									v-model="filterData.selected[index]"
									:value="fNumber">
										{{fNumber}}
							</label>
					</div>
        </div>
      </div>
		<!-- -------------------- -->

		<!-- COLOR SELECTION -->
      <div class="ps-widget__content" v-if="type==='color-select'">
        <ul class="ps-list--color">
          <li v-for="(color, index) in filterData.list" :key="index">
            <label :for="color.name">
              <a :style="{'background-color':color.code}" :class="['ps-color',filterData.selected[index]?'selected':'']">
                <input type="checkbox" :id="color.name" v-model="filterData.selected[index]" :value="color.code">
              </a>
            </label>
          </li>
        </ul>
      </div>
		<!-- -------------------- -->

    </div>
  </aside>
</template>

<script>
  export default {
		name: 'ProductFilterWidget',
    props: {
      filterData: {
        value: Object | Array,
        required: false,
      },

      title: {
        type: String,
        required: true,
      },

      type: {
        type: String,
        required: true,
         // The value must match one of these strings
        validator: (value) => { return ['multiple-select', 'range-select', 'size-select', 'color-select'].indexOf(value) !== -1; },
      },

      'minRange': {
        type: String,
				required: false,
      },

      'maxRange': {
        type: String,
				required: false,
      },

      step: {
        type: String,
        required: false,
      },

      unit: {
        type: String,
        required: false,
        validator: (value) => { return ['$', '£', '₺', '¥'].indexOf(value) !== -1; }
      }
    },
  }
</script>

<style scoped>
  input[type='checkbox']{ display: none; }

  ul.ks-cboxtags {
      list-style: none;
  }
  ul.ks-cboxtags li{
    display: inline;
  }
  ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
  }

  ul.ks-cboxtags li label {
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 400;
  }

  ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out, width .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    font-weight: bold;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #23a76b;
    background-color: #2AC37D;
    color: #fff;
    transition: all .2s;
  }

  ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
  }
  ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

	/* FOR COLOR-SELECTION*/
		.ps-color{
			width: 30px;
			height: 30px;
		}

		.ps-color.selected{
			border: 5px solid #61616179;
		}

		.ps-list--color > li{
			margin: 0 0 10px 10px;
		}

		.ps-list--color > ul{
			cursor: pointer;
		}
	/*======================*/

	/* FOR SIZE-SELECTION */
		.container {
			max-width: 260px;
			font-size: 14px;
			padding: 0;
  	}

		.container div{
			border: 2px solid #769e8c83 !important;
			border-radius: 1em;
			background-color: #769e8c83;
			padding: 10px;
			font-size: 13pt;
			text-align: center;
			line-height: 13pt;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			transition: all .3s ease-in-out;
			float: left;
			width: 45px;
			height: 45px;
			vertical-align: middle;
			cursor: pointer;
		}

		.container > .active{
			background-color: #25dd8a;
			border: 2px solid #333333aa !important;
			padding: 10px;
			font-weight: 18pt;
		}

		.container label{ cursor: pointer; }
	/*=====================*/
</style>
