<template>
  <div class="ps-products-wrap pt-80 pb-80">
    <ProductList :Products="Products"></ProductList>
    <ProductFilter :Products="Products"></ProductFilter>
  </div>
</template>

<script>
  import ProductFilter from './ProductFilter'
	import ProductList from './ProductList'

	import '../../../static/assets/js/main'
	import {bus} from '../../main'

  export default {
    name: 'Product',
    components: {
      ProductFilter,
			ProductList,
		},

		mounted() {
			runAll();
		},

    data() {
      return {
				Products: [],
			}
		},

		created(){
			bus.$on('recieveProduct', (Products) => {
				this.Products = Products;
			});
		},

		mounted(){
			let uri='api.localhost/Product';
			axios.get(uri)
				.then((res) => {
					// if(this.apiProductChange){
						bus.$emit('recieveProduct', this.Products);
						// this.apiProductChange = false;
					// }
				})
				.catch((err) => {
					console.error(err);
				});
		}
  }
</script>

<style scoped>

</style>
