<template>
  <div class="ps-sidebar" data-mh="product-listing">
    <ProductFilterWidget
      title="Markalar"
      type="multiple-select"
      :filterData="filterCategories.brands"
      :Products="Products">
    </ProductFilterWidget>

    <ProductFilterWidget
      title="Fiyat Aralığı"
      type="range-select"
      minRange="0"
      maxRange="3450"
      step="50"
      unit="$">
    </ProductFilterWidget>

    <ProductFilterWidget
      title="Genişlik"
      :filterData="filterCategories.widths"
      type="multiple-select">
    </ProductFilterWidget>

    <ProductFilterWidget
      title="Ayakkabı Numarası"
      :filterData="filterCategories.sizes"
      type="size-select">
    </ProductFilterWidget>

    <ProductFilterWidget
      title="Renk"
      type="color-select"
      :filterData="filterCategories.colors">
    </ProductFilterWidget>
  </div>
</template>

<script>
  import ProductFilterWidget from './ProductFilterWidget'
	import {bus} from '../../main'

  export default {
    name: 'ProductFilter',
    components: {
      ProductFilterWidget,
		},
    
    watch: {
      filterCategories :{
        deep: true,
        immediate: true,
        handler(val){
          bus.$emit('sendFilterCategories',this.filterCategories);
        },
      }
		},

    data() {
      return {
      	filterCategories: {
					sliderMin: 0,
        	sliderMax: 3450,

					brands: {
						selected: [
							true,
							true,
							true,
							true,
							true,
							true,
						],
						list: [
							'Nike',
							'Puma',
							'Anta',
							'Asics',
							'Salomon',
							'Salming'
						],
					},

					prices: {
						minPrice: this.sliderMin,
						maxPrice: this.sliderMax,
					},

					widths: {
						selected: [
							true,
							true,
							true,
							true,
						],
						list :[
							'Dar',
							'Normal',
							'Geniş',
							'Ekstra Geniş',
						]
					},

					sizes: {
						selected: [
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
							true,
						],
						list: [
							33,
							34,
							35,
							36,
							37,
							38,
							39,
							40,
							41,
							42,
							43,
							44,
							45,
							46,
						]
					},

					colors: {
						selected: [
							true,
							true,
							false,
							true,
							false,
							true,
							false,
							true,
							true,
							false,
							true,
							true,
							true,
							true,
							true,
						],
						list: [
							{
								code:'#eb0000',
								name: 'red',
							},

							{
								code: '#ff5694',
								name: 'pink',
							},

							{
								code: '#a600ae',
								name: 'purple',
							},

							{
								code: '#7300b7',
								name: 'magenta',
							},

							{
								code: '#1b99f9',
								name: 'blue',
							},

							{
								code: '#00fbff',
								name: 'turquoise',
							},

							{
								code: '#00ff48',
								name: 'green',
							},

							{
								code: '#bfff33',
								name: 'lime',
							},

							{
								code: '#ffc30b',
								name: 'yellow',
							},

							{
								code: '#ff9c00',
								name: 'gold',
							},

							{
								code: '#ff4800',
								name: 'orange',
							},

							{
								code: '#5f7b8c',
								name: 'grey', 
							},

							{
								code: '#eee',
								name: 'white',
							},

							{
								code:'#7a5543',
								name: 'brown',
							},

							{
								code: '#111',
								name: 'black',
							},
						],
					},
				},
			}
		},

    props: {
      Products: {
        type: Array,
        required: true,
      }
    },
  }
</script>

<style scoped>

</style>