$font-2nd: 'Archivo Narrow', sans-serif;
$font-1st: 'Bariol Serif Regular', sans-serif;

$color-1st: #2AC37D;
$color-1st-hover: #50CF96;
$color-2nd: #50CF96;
$color-heading: #303030;
$color-text: #767779;
$color-dark: #19161f;
$color-lightgray: #f4f4f4;
