<template>
	<div class="ps-contact ps-section pb-80">
    <div class="ps-container">

			<div class="row">

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="ps-section__header mb-40">
						<h2 class="ps-section__title" data-mask="HAKKIMIZDA">HAKKIMIZDA</h2>
						<div class="wrapper mb-40">
							<img class="image" src="/static/images/hot-deal.png"><br>
							<span>
								Welcome to Masafoot Inc., your number one source for all things shoes. We're dedicated to providing you the best of shoes, with a focus on dependability. customer service, and localization.
								We're working to turn our passion for shoes into a booming online store. We hope you enjoy our products as much as we enjoy offering them to you.
								<br><br>
								Sincerely,
								Mustafa YILDIZ
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2 class="ps-section__title" data-mask="VİZYONUMUZ">VİZYONUMUZ</h2>
					<div class="ps-section__header mb-40">
						<div class="wrapper mb-40">
							<img class="image" src="/static/images/hot-deal.png"><br>
							<span>
								it’s easy to lose sight of value creation and get sidetracked by other things like profit margins, expanding your product catalogs, or competitors.
								To become a runaway success, businesses must have a purpose that unites and inspires people – “make more money” won’t do the trick. As the author Simon Sinek said, “People don’t buy what you do, they buy why you do it.”
								<br>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2 class="ps-section__title" data-mask="MİSYONUMUZ">MİSYONUMUZ</h2>
					<div class="ps-section__header mb-40">
						<div class="wrapper mb-40">
							<img class="image" src="/static/images/hot-deal.png"><br>
							<span>
								Money is a by-product of value.
								So, to thrive in the long run, businesses must remain focused on producing value.
								<br>
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2 class="ps-section__title" data-mask="HEDEFLERİMİZ">HEDEFLERİMİZ</h2>
					<div class="ps-section__header mb-40">
						<div class="wrapper mb-40">
							<img class="image" src="/static/images/hot-deal.png"><br>
							<span>
								A polished gameplan is essential if you plant to compete in the world of e-commerce as a successful seller.
								Brands try to drive up their e-commerce sales through targeted advertising, data analytics, and social media influencers, but what they can offer the customer typically matters more than what they have to say
								<br>
							</span>
						</div>
					</div>
				</div>

			</div>

		</div>


	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped>
	.mt-120{
		margin-top: 120px;
	}

	.wrapper:before{
		content: '';
		position: absolute;
		top: -15px;
		left: -15px;
		width: calc(100% + 30px);
		height: calc(100% + 80px);
		border: 1px solid #000;
		z-index: 1000;
		float: left;

		visibility: hidden;
		opacity: 0;
		-webkit-transform: scale(0.8, 0.8);
		-moz-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-o-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.wrapper:hover:before{
		cursor: pointer;
		visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
	}

	.wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.wrapper > span{
		position: relative;
		top: 2vh;
		left: 1vw;
		text-align: justify;
		font-size: 14pt;
	}
</style>
