<template>
  <div class="ps-section ps-home-blog pt-80 pb-80">
    <div class="ps-container">
      <div class="ps-section__header mb-50">
        <h2 class="ps-section__title" data-mask="News">- Our Story</h2>
        <div class="ps-section__action"><a class="ps-morelink text-uppercase" href="#">View all post<i class="fa fa-long-arrow-right"></i></a></div>
      </div>
      <div class="ps-section__content">
        <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-post">
                  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img src="/static/images/blog/1.jpg" alt=""></div>
                  <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">An Inside Look at the Breaking2 Kit</a>
                    <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Alena Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…</p><a class="ps-morelink" href="blog-detail.html">Read more<i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-post">
                  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img src="/static/images/blog/2.jpg" alt=""></div>
                  <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">Unpacking the Breaking2 Race Strategy</a>
                    <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Alena Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…</p><a class="ps-morelink" href="blog-detail.html">Read more<i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-post">
                  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img src="/static/images/blog/3.jpg" alt=""></div>
                  <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">Nike’s Latest Football Cleat Breaks the Mold</a>
                    <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Alena Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…</p><a class="ps-morelink" href="blog-detail.html">Read more<i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BlogPosts',
  }
</script>

<style>

</style>