<template>
  <div class="ps-contact ps-section pb-80">
    <div class="ps-container">

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="ps-section__header mb-40">
						<h2 class="ps-section__title" data-mask="BİZE ULAŞIN">BİZE ULAŞIN</h2>
						<div class="wrapper mb-40">
							<img class="image" src="/static/images/hot-deal.png"><br>
							<span>
								Welcome to Masafoot Inc., your number one source for all things shoes. We're dedicated to providing you the best of shoes, with a focus on dependability. customer service, and localization.
								We're working to turn our passion for shoes into a booming online store. We hope you enjoy our products as much as we enjoy offering them to you.
								<br><br>
								Sincerely,
								Mustafa YILDIZ
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="ps-section__header mb-40 mt-120">
						<div id="map-container-google-11" class="z-depth-1-half map-container-6 mb-40" style="height: 645px">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63330.570796003354!2d-47.6273540327797!3d-7.222506781260455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2str!4v1567871390430!5m2!1sen!2str"
								width="700" height="645" frameborder="0" style="border:0;" allowfullscreen="">
							</iframe>
						</div>
					</div>
				</div>
			</div>

      <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<div class="ps-section__header mb-50">
						<h2 class="ps-section__title" data-mask="İLETİŞİM">İLETİŞİMDE KALALIM</h2>
						<form class="ps-contact__form"> <!-- action="do_action" method="post" -->
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
									<div class="form-group">
										<label>İsim: <sup>*</sup></label>
										<input class="form-control" v-model="form_name" type="text" required placeholder="">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
									<div class="form-group">
										<label>Email <sup>*</sup></label>
										<input class="form-control" v-model="form_email" type="email" required placeholder="">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
									<div class="form-group mb-25">
										<label>Mesajınız: <sup>*</sup></label>
										<textarea class="form-control" v-model="form_message" required rows="6"></textarea>
									</div>
									<div class="form-group">
										<button class="ps-btn" type="submit" @click="sendMessage()">Mesajı Gönder<i class="ps-icon-next"></i></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<div class="ps-section__content">
						<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
										<div class="ps-contact__block" data-mh="contact-block">
											<header>
												<h3>USA <span> San Francisco</span></h3>
											</header>
											<footer>
												<p><i class="ps-icon-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
												<p><i class="ps-icon-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
												<p><i class="ps-icon-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
											</footer>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
										<div class="ps-contact__block" data-mh="contact-block">
											<header>
												<h3>Ireland  <span> Dublin</span></h3>
											</header>
											<footer>
												<p><i class="ps-icon-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
												<p><i class="ps-icon-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
												<p><i class="ps-icon-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
											</footer>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
										<div class="ps-contact__block" data-mh="contact-block">
											<header>
												<h3>Brazil <span> São Paulo</span></h3>
											</header>
											<footer>
												<p><i class="ps-icon-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
												<p><i class="ps-icon-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
												<p><i class="ps-icon-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
											</footer>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
										<div class="ps-contact__block" data-mh="contact-block">
											<header>
												<h3>Philippines <span> Quezon City</span></h3>
											</header>
											<footer>
												<p><i class="ps-icon-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
												<p><i class="ps-icon-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
												<p><i class="ps-icon-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
											</footer>
										</div>
									</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
		name: 'ContactUs',
		data() {
			return {
				form_name: 'Mustafa YILDIZ', //'',
				form_email: 'mustafa@email.com', //'',
				form_message: 'Merhabalar mesajım budur.', //'',

			}
		},
		methods: {
			sendMessage(){
				alert('name: '+this.form_name
					+'\nemail: '+this.form_email
					+'\nmessage: '+this.form_message);
			}
		},
  }
</script>

<style scoped>
	.mt-120{
		margin-top: 120px;
	}

  textarea{
		resize: vertical;
		min-height: 120px;
		max-height: 220px;
	}

	.wrapper:before{
		content: '';
		position: absolute;
		top: -15px;
		left: -15px;
		width: calc(100% + 30px);
		height: calc(100% + 80px);
		border: 1px solid #000;
		z-index: 1000;
		float: left;

		visibility: hidden;
		opacity: 0;
		-webkit-transform: scale(0.8, 0.8);
		-moz-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		-o-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.wrapper:hover:before{
		cursor: pointer;
		visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
	}

	.wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.wrapper > span{
		position: relative;
		top: 2vh;
		left: 1vw;
		text-align: justify;
		font-size: 14pt;
	}

	.map-container-6{
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
	}

	.map-container-6 iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
</style>
