<template>
  <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
    <div class="ps-container">
      <div class="ps-section__header mb-50">
        <h3 class="ps-section__title" data-mask="features">- Features Products</h3>
        <ul class="ps-masonry__filter">
          <li class="current"><a href="#" data-filter="*">All <sup>{{FeatureProducts.length}}</sup></a></li>
          <li v-for="(category, index) in AllCategories()" :key="index">
            <a :data-filter="'.'+category">{{category}} <sup>{{CategoryCount(category)}}</sup></a>
          </li>
        </ul>
      </div>
      <div class="ps-section__content pb-50">
        <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
          <div class="ps-masonry">
            <div class="grid-sizer"></div>
            <div 
              v-for="(Product, index) in FeatureProducts"
              :key="index"
              :class="['grid-item'+GetCategoryClass(Product)]">
                <div class="grid-item__content-wrapper">
                  <ProductItem
                    :Product="Product">
                  </ProductItem>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ProductItem from '../Products/ProductItem'

  export default {
    name: 'FeatureProduct',
    components: {
      ProductItem,
    },
    data() {
      return {
        FeatureProducts: [
          {
						title: 'Anta KT4',
						categories : ['Erkek','Anta'],
						isNew: true,
						discountAmout: '',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '',
						price: '£ 125',
						isLiked: false,

						width: 'Normal',
						haveSizes : [40 ,41, 42, 43, 44],
						haveColor: ['mavi','mor','beyaz','siyah'],
          },
          
          {
						title: 'Air Jordan 7 Retro',
						categories : ['Erkek','Nike'],
						isNew: true,
						coverImg: '/static/images/shoe/1.jpg',
						discountAmout: '-35%',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '£ 220',
						price: '£ 120',
						isLiked: false,

						width: 'Küçük',
						haveSizes : [40 ,41, 42, 43, 44],
						haveColor: ['kırmızı','siyah','beyaz'],
          },
          
          {
						title: 'Puma Clyde Court',
						categories : ['Erkek','Puma'],
						isNew: true,
						discountAmout: '',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '',
						price: '£ 215',
						isLiked: false,

						width: 'Normal',
						haveSizes : [40 ,41, 42, 43, 44, 45],
						haveColor: ['pembe','beyaz','deniz yeşili','siyah'],
          },
          
          {
						title: 'Under Armour Curry 5',
						categories : ['Erkek','Nike'],
						isNew: true,
						discountAmout: '',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '',
						price: '$ 130',
						isLiked: false,

						width: 'Normal',
						haveSizes : [40 ,41, 42, 43, 44],
						haveColor: ['siyah','gümüş','beyaz','gri'],
          },
          
          {
						title: 'Asics Gel-Hyper Tri 3 F',
						categories : ['Kadın','Asics'],
						isNew: true,
						discountAmout: '',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '',
						price: '£ 290',
						isLiked: false,

						width: 'Normal',
						haveSizes : [33, 34, 35, 36, 37],
						haveColor: ['mor','pembe','beyaz'],
          },
          
          {
						title: 'Salomon Sense 7 hard Ground',
						categories : ['Kadın','Erkek','Salomon'],
						isNew: true,
						discountAmout: '',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '',
						price: '£ 415',
						isLiked: false,

						width: 'Normal',
						haveSizes : [34, 35, 36, 37, 38, 39, 40 ,41, 42, 43, 44, 45],
						haveColor: ['kırmızı','beyaz'],
          },
          
          {
						title: 'Salming S3',
						categories : ['Erkek','Salming'],
						isNew: true,
						discountAmout: '-10%',
						coverImg: '/static/images/shoe/1.jpg',
						imgsPath: [
							'/static/images/shoe/2.jpg',
							'/static/images/shoe/3.jpg',
							'/static/images/shoe/4.jpg',
							'/static/images/shoe/5.jpg',
						],
						oldPrice: '£ 250',
						price: '£ 225',
						isLiked: false,

						width: 'Normal',
						haveSizes : [40 ,41, 42, 43],
						haveColor: ['kırmızı','turuncu','sarı','siyah'],
					},
        ]
      }
    },

    methods: {
      AllCategories(){
        let AllCategories = [];
        this.FeatureProducts.forEach((Product) => {
          Product.categories.forEach((category) => {
            if(!AllCategories.includes(category)) {AllCategories.push(category);}
          });
        });
        return AllCategories;
      },

      CategoryCount(category){
        let CategoryCount = 0;
        this.FeatureProducts.forEach((Product) => {
          Product.categories.forEach((isCategory) => {
            if(isCategory === category) CategoryCount++;
          });
        });
        return CategoryCount;
      },

      GetCategoryClass(Product){
        let Classes="";
        Product.categories.forEach((category,index) => {
          if(!Classes.trim(' ').includes(category))
              Classes += ' '+category;
        });
        return Classes;
      }
    },
  }
</script>

<style>

</style>