<template>
  <div>
    <main class="ps-main">
      <BannerSlider/>
      <FeatureProduct/>
      <ProductOffer/>
      <TopSalesProduct/>
      <SaleOff/>
      <OurCustomer/>
      <EmailSubscription/>
    </main>
  </div>
</template>

<script>
  import BannerSlider from './BannerSlider'
  import FeatureProduct from './FeatureProduct'
  import TopSalesProduct from './TopSalesProduct'
  import SaleOff from './SaleOff'
  import ProductOffer from './ProductOffer'
  import OurCustomer from './OurCustomer'
  import EmailSubscription from './EmailSubscription'

	import '../../../static/assets/js/main';

  export default {
    name: 'Main',
    components: {
      BannerSlider,
      FeatureProduct,
      TopSalesProduct,
      SaleOff,
      ProductOffer,
      OurCustomer,
      EmailSubscription,
    },

		mounted(){
			backgroundImage();
			parallax();
			rating();
			menuBtnToggle();
			subMenuToggle();
			owlCarousel($('.owl-slider'));
			navigateOwlCarousel();
			countDown();
			masonry();
			stickyHeader();
			productVariantsAjax();
			productThumbnailChange();
			bootstrapSelect();
			slickConfig();
			zoomInit();
			magnificPopup();
			productVaritantsNormal();
			stickyWidget();
			revolution();
			filterSlider();
		},
  }
</script>

<style>

</style>
