<template>
  <div class="ps-section--offer">
    <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="/static/images/banner/home-banner-1.png" alt=""></a></div>
    <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="/static/images/banner/home-banner-2.png" alt=""></a></div>
  </div>
</template>

<script>
  export default {
    name: 'ProductOffer',
  }
</script>

<style>

</style>