<template>
    <li 
      v-if="data.type==='simple-menu'"
      :class="['menu-item']">
        <router-link :to="data.path">{{data.name}}</router-link>
    </li>

    <li 
      v-else-if="data.type==='simple-dropdown'"
      :class="['menu-item', 'menu-item-has-children', 'dropdown']">
				<router-link :to="data.path">{{data.name}}</router-link>
      <ul class="sub-menu">
        <li 
					:class="['menu-item']" 
					v-for="(subMenu,index) in data.subMenus" :key="index">
						<router-link to="/Product">{{subMenu.name}}</router-link>
				</li>
      </ul>
    </li>

    <li
			v-else-if="data.type==='mega-menu'" 
			:class="['menu-item', 'menu-item-has-children', 'has-mega-menu']">
				<router-link :to="data.path">{{data.name}}</router-link>
      <div class="mega-menu">
        <div class="mega-wrap">

          <div class="mega-column">
            <ul class="mega-item mega-features">
              <li v-for="(subFeature,index) in data.subFeatures" :key="index">
								<router-link :to="subFeature.path">{{subFeature.name}}</router-link>
							</li>s
            </ul>
          </div>

          <div class="mega-column" v-for="(subMenu,index) in data.subMenus" :key="index">
            <h4 class="mega-heading">{{subMenu.name}}</h4>
            <ul class="mega-item">
              <li v-for="(superSubMenu,index) in subMenu.subMenu" :key="index">
								<router-link :to="superSubMenu.path">{{superSubMenu.name}}</router-link>
							</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li v-else-if="data.type==='simple-dropdown'" class="menu-item"><a href="#">Women</a></li>
    <li v-else-if="data.type==='simple-dropdown'" class="menu-item"><a href="#">Kids</a></li>
    
		<!-- <li class="menu-item menu-item-has-children dropdown"><a href="#">News</a>
			<ul class="sub-menu">
				<li class="menu-item menu-item-has-children dropdown"><a href="blog-grid.html">Blog-grid</a>
					<ul class="sub-menu">
						<li class="menu-item"><a href="blog-grid.html">Blog Grid 1</a></li>
						<li class="menu-item"><a href="blog-grid-2.html">Blog Grid 2</a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="blog-list.html">Blog List</a></li>
			</ul>
    </li>

    <li class="menu-item menu-item-has-children dropdown"><a href="#">Contact</a>
			<ul class="sub-menu">
				<li class="menu-item"><a href="contact-us.html">Contact Us #1</a></li>
				<li class="menu-item"><a href="contact-us.html">Contact Us #2</a></li>
			</ul>
    </li> -->
</template>

<script>
  export default {
    props: {

			data: {
				type: Object,
				required: true,
			},
    },
  }
</script>

<style scoped>

</style>