<template>
  <div class="ps-404 bg--cover" data-background="/static/images/background/404.jpg">
    <div class="ps-404__content">
      <h1>404</h1>
      <h3>Page not found</h3>
      <!-- <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p> -->
      <p>Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
        <router-link class="ps-btn" to="/">Anasayfaya Dön<i class="ps-icon-next"></i></router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Error404',
  }
</script>

<style scoped>
  *{
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;

    -webkit-user-drag: none;
  }

  .ps-404 {
    height: 100%;
    position: relative;
    z-index: 10;
  }

  .ps-404:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    z-index: -1;
    background-color: #0000001a; 
  }
  
  .bg--cover {
    background-position: 50% 50% !important;
    background-size: cover cover !important; 
  }
  
  .ps-404 .ps-404__content {
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
  }

  .ps-404 h1 {
    font-family: "Bariol Serif Regular", sans-serif;
    font-size: 144px;
    font-weight: 700;
    letter-spacing: 20px;
    color: #fff; 
  }

  .ps-404 h3 {
    margin-bottom: 25px;
    font-family: "Bariol Serif Regular", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase; 
  }
  
  .ps-404 p {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5em;
    color: #999999; 
  }
  
  .ps-404 .ps-btn:before { background-color: #ffffff40; }
  @media (max-width: 991px) {
    .ps-404 .ps-404__content {
      max-width: 100%;
      width: 100%;
      padding: 0 30px; 
    } 
  }
  @media (max-width: 767px) {
    .ps-404 h1 { font-size: 60px; }
    .ps-404 h3 { 
      font-size: 25px;
      margin-bottom: 10px;
    }
    
    .ps-404 p {
      font-size: 14px;
      margin-bottom: 15px; 
    }
  }
</style>