<template>
  <div class="ps-footer bg--cover">
    <div class="ps-footer__content">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--info">
                  <header><a class="ps-logo" href="index.html"><img src="/static/images/logo-white.png" alt=""></a>
                    <h3 class="ps-widget__title">Address Office 1</h3>
                  </header>
                  <footer>
                    <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                    <p>Phone: +323 32434 5334</p>
                    <p>Fax: ++323 32434 5333</p>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--info second">
                  <header>
                    <h3 class="ps-widget__title">Address Office 2</h3>
                  </header>
                  <footer>
                    <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                    <p>Phone: +323 32434 5334</p>
                    <p>Fax: ++323 32434 5333</p>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Find Our store</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--link">
                      <li><a href="#">Coupon Code</a></li>
                      <li><a href="#">SignUp For Email</a></li>
                      <li><a href="#">Site Feedback</a></li>
                      <li><a href="#">Careers</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Get Help</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="#">Order Status</a></li>
                      <li><a href="#">Shipping and Delivery</a></li>
                      <li><a href="#">Returns</a></li>
                      <li><a href="#">Payment Options</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Products</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Clothing</a></li>
                      <li><a href="#">Accessries</a></li>
                      <li><a href="#">Football Boots</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
        </div>
      </div>
    </div>
    <div class="ps-footer__copyright">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <ul class="ps-social">
                  <li><router-link to="www.facebook.com"><i class="ps-icon-facebook"></i></router-link></li> <!-- :FIXME -->
                  <li><router-link to="www.twitter.com"><i class="ps-icon-twitter"></i></router-link></li> <!-- :FIXME -->
                  <li><router-link to="www.instagram.com"><i class="ps-icon-instagram"></i></router-link></li> <!-- :FIXME -->
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style scoped>
  .ps-social>[class^="ps-icon-"]{
    font-size: 18pt !important;
  }
</style>
