<template>
  <div>
    <div class="header--sidebar"></div>
    <header class="header">
      <div class="header__top">
        <div class="container-fluid">
          <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                  <p>460 West 34th Street, 15th floor, New York  -  Hotline: 804-377-3580 - 804-399-3580</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                  <div class="header__actions"><a href="#">Login & Regiser</a>
                    <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="ps-icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><img src="/static/images/flag/usa.svg" alt=""> USD</a></li>
                        <li><a href="#"><img src="/static/images/flag/singapore.svg" alt=""> SGD</a></li>
                        <li><a href="#"><img src="/static/images/flag/japan.svg" alt=""> JPN</a></li>
                      </ul>
                    </div>
                    <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="ps-icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Japanese</a></li>
                        <li><a href="#">Chinese</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <div class="container-fluid">
          <div class="navigation__column left">
            <div class="header__logo"><router-link class="ps-logo" to="/"><img src="/static/images/logo.png" alt=""></router-link></div>
          </div>
          <div class="navigation__column center">
            <ul class="main-menu menu">
              <DrowdownMenu v-for="(data,index) in datas" :key="index" :data="data"></DrowdownMenu>
            </ul>
          </div>

          <div class="navigation__column right">
            <form class="ps-search--header" action="do_action" method="post">
              <input class="form-control" type="text" placeholder="Search Product…">
              <button><i class="ps-icon-search"></i></button>
            </form>
            <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="ps-icon-shopping-cart"></i></a>
              <div class="ps-cart__listing">
                <div class="ps-cart__content">
                  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                    <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="/static/images/cart-preview/1.jpg" alt=""></div>
                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Amazin’ Glazin’</a>
                      <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                    </div>
                  </div>
                  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                    <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="/static/images/cart-preview/2.jpg" alt=""></div>
                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Crusty Croissant</a>
                      <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                    </div>
                  </div>
                  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                    <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="/static/images/cart-preview/3.jpg" alt=""></div>
                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Rolling Pin</a>
                      <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                    </div>
                  </div>
                </div>
                <div class="ps-cart__total">
                  <p>Number of items:<span>36</span></p>
                  <p>Item Total:<span>£528.00</span></p>
                </div>
                <div class="ps-cart__footer"><a class="ps-btn" href="cart.html">Check out<i class="ps-icon-arrow-right"></i></a></div>
              </div>
            </div>
            <div class="menu-toggle"><span></span></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="header-services">
      <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Sky Store</p>
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Sky Store</p>
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Sky Store</p>
      </div>
    </div>
  </div>
</template>

<script>
  import DrowdownMenu from './DropdownMenu'

  export default {
    name: 'Header',
     data() {
      return {
        datas : [
          {
            path: '/',
            name: 'Anasayfa',
            type: 'simple-menu',
          },

          {
            path: '/Product',
            name: 'Erkek',
            type: 'mega-menu',

            subFeatures: [
              { name: 'YENİ ÇIKANLAR', path: '/Product'},
              { name: 'SENİN İÇİN SEÇTİKLERİMİZ', path: '/Product'},
              { name: 'ÇOK SATANLAR', path: '/Product'},
              { name: 'TRENDLER', path: '/Product'},
              { name: 'SONBAHAR SEZONU', path: '/Product'},
              { name: 'ANNELER GÜNÜ ÖZEL KOLEKSİYONU', path: '/Product'},
              { name: 'OKUL\'A DÖNÜŞ', path: '/Product'},
            ],

            subMenus: [
              {
                name: 'Ayakkabı',
                path: '/Product',
                subMenu: [
                  { name: 'Tüm Ayakkabılar', path: '/Product'},
                  { name: 'Yeni Çıkanlar', path: '/Product'},
                  { name: 'Çok Satanlar', path: '/Product'},
                  { name: 'Trendler', path: '/Product'},
                  { name: 'Spor', path: '/Product'},
                  { name: 'Klasikler', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Giyim',
                path: '/Product',
                subMenu: [
                  { name: 'T-Shirt', path: '/Product'},
                  { name: 'Gömlek', path: '/Product'},
                  { name: 'Pantolon', path: '/Product'},
                  { name: 'Ceket', path: '/Product'},
                  { name: 'Sweatshirt ve Hoodie', path: '/Product'},
                  { name: 'Takım Elbise', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Aksesuar',
                path: '/Product',
                subMenu: [
                  { name: 'Çanta', path: '/Product'},
                  { name: 'Kemer', path: '/Product'},
                  { name: 'Kravat', path: '/Product'},
                  { name: 'Papyon', path: '/Product'},
                  { name: 'Mendil', path: '/Product'},
                  { name: 'Şapka', path: '/Product'},
                  { name: 'Cüzdan', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Öncü Markalar',
                path: '/Product',
                subMenu: [
                  { name: 'Nike', path: '/Product'},
                  { name: 'Adidas', path: '/Product'},
                  { name: 'Reebok', path: '/Product'},
                  { name: 'FILA', path: '/Product'},
                  { name: 'Puma', path: '/Product'},
                  { name: 'Jordan', path: '/Product'},
                  { name: 'New Balance', path: '/Product'},
                  { name: 'KENNETH COLE', path: '/Product'},
                ],
              },
						],
          },

          {
            path: '/Product',
            name: 'Kadın',
            type: 'mega-menu',

            subFeatures: [
              { name: 'YENİ ÇIKANLAR', path: '/Product'},
              { name: 'SENİN İÇİN SEÇTİKLERİMİZ', path: '/Product'},
              { name: 'ÇOK SATANLAR', path: '/Product'},
              { name: 'TRENDLER', path: '/Product'},
              { name: 'SONBAHAR SEZONU', path: '/Product'},
              { name: 'ANNELER GÜNÜ ÖZEL KOLEKSİYONU', path: '/Product'},
              { name: 'OKUL\'A DÖNÜŞ', path: '/Product'},
            ],

            subMenus: [
              {
                name: 'Ayakkabı',
                path: '/Product',
                subMenu: [
                  { name: 'Tüm Ayakkabılar', path: '/Product'},
                  { name: 'Topuklu', path: '/Product'},
                  { name: 'Özel Günleriniz İçin', path: '/Product'},
                  { name: 'Çok Satanlar', path: '/Product'},
                  { name: 'Trendler', path: '/Product'},
                  { name: 'Spor', path: '/Product'},
                  { name: 'Bot & Çizme', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Giyim',
                path: '/Product',
                subMenu: [
                  { name: 'T-Shirt', path: '/Product'},
                  { name: 'Gömlek', path: '/Product'},
                  { name: 'Pantolon & Tayt', path: '/Product'},
                  { name: 'Etek', path: '/Product'},
                  { name: 'Ceket', path: '/Product'},
                  { name: 'Tesettür Giyim', path: '/Product'},
                  { name: 'Sweatshirt ve Hoodie', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Aksesuar',
                path: '/Product',
                subMenu: [
                  { name: 'Çanta', path: '/Product'},
                  { name: 'Çanta Aksesuar', path: '/Product'},
                  { name: 'Kemer', path: '/Product'},
                  { name: 'Eldiven', path: '/Product'},
                  { name: 'Şal & Eşarp', path: '/Product'},
                  { name: 'Şapka', path: '/Product'},
                  { name: 'Cüzdan', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Öncü Markalar',
                path: '/Product',
                subMenu: [
                  { name: 'Nike', path: '/Product'},
                  { name: 'Adidas', path: '/Product'},
                  { name: 'Reebok', path: '/Product'},
                  { name: 'FILA', path: '/Product'},
                  { name: 'Puma', path: '/Product'},
                  { name: 'Jordan', path: '/Product'},
                  { name: 'New Balance', path: '/Product'},
                  { name: 'KENNETH COLE', path: '/Product'},
                ],
              },
						],
          },

          {
            path: '/Product',
            name: 'Çocuk',
            type: 'mega-menu',

            subFeatures: [
              { name: 'YENİ ÇIKANLAR', path: '/Product'},
              { name: 'SENİN İÇİN SEÇTİKLERİMİZ', path: '/Product'},
              { name: 'ÇOK SATANLAR', path: '/Product'},
              { name: 'TRENDLER', path: '/Product'},
              { name: 'SONBAHAR SEZONU', path: '/Product'},
              { name: 'ANNELER GÜNÜ ÖZEL KOLEKSİYONU', path: '/Product'},
              { name: 'OKUL\'A DÖNÜŞ', path: '/Product'},
            ],

            subMenus: [
              {
                name: 'Ayakkabı',
                path: '/Product',
                subMenu: [
                  { name: 'Tüm Ayakkabılar', path: '/Product'},
                  { name: 'Çok Satanlar', path: '/Product'},
                  { name: 'Spor', path: '/Product'},
                  { name: 'Bot & Çizme', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                  { name: 'Sandalet', path: '/Product'},
                  { name: 'Terlik', path: '/Product'},
                  { name: 'Panduf', path: '/Product'},
                ],
              },
              {
                name: 'Giyim',
                path: '/Product',
                subMenu: [
                  { name: 'T-Shirt', path: '/Product'},
                  { name: 'Çocuk Takımı', path: '/Product'},
                  { name: 'Pantolon & Tayt', path: '/Product'},
                  { name: 'Süveter & Hırka', path: '/Product'},
                  { name: 'Eşofman', path: '/Product'},
                  { name: 'Mont & Kapüşon', path: '/Product'},
                  { name: 'Sweatshirt ve Hoodie', path: '/Product'},
                  { name: 'Günlük Giyim', path: '/Product'},
                ],
              },
              {
                name: 'Aksesuar',
                path: '/Product',
                subMenu: [
                  { name: 'Çanta', path: '/Product'},
                  { name: 'Kemer', path: '/Product'},
                  { name: 'Atkı & Bere & Eldiven', path: '/Product'},
                  { name: 'Eldiven', path: '/Product'},
                  { name: 'Önlük', path: '/Product'},
                  { name: 'Şapka', path: '/Product'},
                  { name: 'Şemsiye', path: '/Product'},
                  { name: 'Günlük Kullanım', path: '/Product'},
                ],
              },
              {
                name: 'Öncü Markalar',
                path: '/Product',
                subMenu: [
                  { name: 'DeFacto', path: '/Product'},
                  { name: 'Koton', path: '/Product'},
                  { name: 'LC Waikiki', path: '/Product'},
                  { name: 'U.S. Polo Assn', path: '/Product'},
                  { name: 'Puma', path: '/Product'},
                  { name: 'Kinetix', path: '/Product'},
                  { name: 'Polaris', path: '/Product'},
                  { name: 'Vicco', path: '/Product'},
                ],
              },
						],
          },

          {
            path: '/BizeUlasin',
            name: 'BİZE ULAŞIN',
            type: 'simple-menu',
          },

          {
            path: '/Hakkimizda',
            name: 'Hakkımızda',
            type: 'simple-menu',
          },
        ],
      }
    },
    components: {
      DrowdownMenu,
    }
  }
</script>

<style scoped>

</style>
