<template>
  <div id="app">
    <Header v-if="!this.$route.path.includes('/api/')"></Header>
    <router-view/>
    <Footer v-if="!this.$route.path.includes('/api/')"></Footer>
  </div>
</template>

<script>
  import Header from './components/Header'
  import Footer from './components/Footer'

  export default {
    name: 'App',
    components: {
      Header,
      Footer,
    },
  }
</script>

<style>
  *{
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;

    font-family: "Bariol Serif Regular" !important;
  }

  i>.fa{
    font-family: "FontAwesome" !important;
    font-style: normal !important;
  }

  @font-face {
    font-family: 'Bariol Serif Regular';
    src: local('Bariol Serif Regular Italic'), local('BariolSerifRegular-Italic'),
        url('/static/assets/fonts/Bariol_Serif/subset-BariolSerifRegular-Italic.woff2') format('woff2'),
        url('/static/assets/fonts/Bariol_Serif/subset-BariolSerifRegular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
      font-family: 'Bariol Serif Regular';
      src: local('Bariol Serif Regular'), local('BariolSerif-Regular'),
          url('/static/assets/fonts/Bariol_Serif/subset-BariolSerif-Regular.woff2') format('woff2'),
          url('/static/assets/fonts/Bariol_Serif/subset-BariolSerif-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  a{ cursor: pointer; }
</style>
